<div id="sidebar-nav" class="d-flex justify-content-center bg-body-secondary align-items-center text-center sticky-lg-top w-100">
    <div class="py-3" style="width: 90%;">
        <div id="cv-image" class="rounded-circle mx-auto mb-3"></div>
        <h2 class="titles">Adriano Domínguez</h2>

        <div id="nav-cont" class="list-group list-group-flush bg-body-secondary mt-3">
            <a href="#cont-desc" class="nav-link active list-group-item list-group-item-action">Resumen</a>
            <a href="#cont-experience" class="nav-link list-group-item list-group-item-action">Experiencia</a>
            <a href="#cont-tools" class="nav-link list-group-item list-group-item-action">Herramientas</a>
            <a href="#cont-contact" class="nav-link list-group-item list-group-item-action">Contacto</a>
        </div>
    </div>
</div>