#sidebar-nav {
    min-height: 100vh;
    margin: 0;
}

#cv-image {
    background-image: url("/assets/cv_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 75%;
    aspect-ratio: 1/1;
    border: 10px solid rgba(255, 255, 255, 0.6);
}