<div id="cont-desc" class="content card">
        <h6 class="text-secondary">Ciencias Computacionales</h6>
        <h1 class="fw-bold display-1 titles">Adriano Elijah Domínguez Estrada</h1>
        <h3 class="text-secondary titles fw-lighter">Estudiante en Sistemas Computacionales</h3>
        <hr>

        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col text-content">
            <p>
              Estudiante de Universidad enfocado en el ámbito del desarrollo de diversas aplicaciones multimedia, desde aplicaciones pequeñas destinadas a realizar
              cálculos básicos hasta actividades más complejas encaminadas a realizar compras de forma en línea. Con una grán disposición a aprender nuevas habilidades
              dentro de cualquier ámbito tecnológico que se le ponga en frente.
            </p>
            <p>
              Actualmente se encuentra realizando sus estudios en la Universidad Autónoma de Aguascalientes en la carrera de Ingeniería en Sistemas Computacionales,
              cursando el 7mo semestre del mismo.
            </p>
          </div>
          <div class="col">
            <div class="d-flex flex-column h-100">
              <div class="flex-grow-1">
                <div class="row row-cols-1 row-cols-lg-2">
                  <div class="col">
                    <h3 class="titles">Competencias</h3>
                    <hr>
                    <ul>
                      <li>Pensamiento lógico y analítico</li>
                      <li>Creatividad</li>
                      <li>Liderazgo</li>
                      <li>Trabajo en Equipo</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h3 class="titles">Idiomas</h3>
                    <hr>
                    <ul>
                      <li><span class="fw-bold">Español:</span> Nativo</li>
                      <li><span class="fw-bold">Inglés:</span> MCE - C1</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="align-self-end">
                <a class="btn btn-secondary" href="/assets/Curriculum_Vitae_Adriano_Domínguez.pdf" style="text-indent: 0; width: 8rem;" target="_blank">Ver CV</a>
              </div>
            </div>
          </div>
        </div>
      </div>