/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.content {
    /* min-height: 30rem; */
    margin-bottom: 1rem;
    padding: 2rem;
}

.text-content{
    text-indent: 1rem;
    text-align: justify;
    line-height: 22px;
}

.text-content > p {
    padding: 0;
    margin-bottom: 23px;
}

.titles {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: condensed;
}

@media (min-width: 992px) {
    .task-card {
        height: 20rem;
    }
}